@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

::-webkit-scrollbar {
  width: 5px;
}

body {
  background: #fff;
}

/* CSS for the cart animation */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: 10px 10px 11px -7px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 11px -7px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 11px -7px rgba(0, 0, 0, 1);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: 0.3s ease-in-out;
}

.video-preloader-bg {
  display: none;
}

video {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

@media screen and (max-width: 768px) {
  .video-preloader {
    height: 30% !important;
    margin-top: 70%;
  }
  .video-preloader-bg {
    display: block;
  }
}
